{% assign selected = page.selected | default: layout.selected %}
<nav>
  <ul class="inline">
    <li><a class="{% if selected == 'intro' %}selected{% endif %}" href="{{page.root}}index.html" >Давняя идея</a> &rarr; </li>
    <li><a class="{% if selected == 'ways'  %}selected{% endif %}" href="{{page.root}}ways-to-write.html" >Способы записи</a> &rarr; </li>
    <li><a class="{% if selected == 'goals' %}selected{% endif %}" href="{{page.root}}goals.html" >Цель шрифта</a> &rarr; </li>
    <li><a class="{% if selected == 'font'  %}selected{% endif %}" href="{{page.root}}whats-in-this-font.html" >Как писать?</a> &rarr; </li>
    <li><a class="{% if selected == 'tryit' %}selected{% endif %}" href="{{page.root}}try-it.html">Опробуйте!</a></li>
  </ul>
  {% if include.boxlinks %}
  <ul class="inline boxshadow-p">
    <li><a class="{% if selected == 'lesson'      %}selected{% endif %}" href="{{page.root}}lesson1.html">Уроки <span class="rsl">ч</span></a></li>
    <li><a class="{% if selected == 'reference'   %}selected{% endif %}" href="{{page.root}}reference.html">Справка <span class="rsl">к</span></a></li>
    <li><a class="{% if selected == 'inanutshell' %}selected{% endif %}" href="{{page.root}}in-a-nutshell.html">Краткая справка <span class="rsl">А</span></a></li>
    <li><a class="{% if selected == 'example'     %}selected{% endif %}" href="{{page.root}}example-text.html">Пример текста <span class="rsl">5</span></a></li>
    <li><a class="{% if selected == 'dictionary'  %}selected{% endif %}" href="https://2dd.artboy.ru">Словарь РЖЯ <span class="rsl">Н</span></a></li>
    <!-- <li><a class="{% if page.selected == 'facebook'   %}selected{% endif %}" href="https://www.facebook.com/pages/Symbol-Font-For-ASL/133478630170344">Facebook</a></li> -->
  </ul>
  {% endif %}
</nav>