
<ul class="inline">
  <li><a class="{% if page.lesson_num <= 12 %}selected{% endif %}" href="lesson1.html">Уроки 1&ndash;12</a>  </li>
  <li><a class="{% if page.lesson_num >= 13 %}selected{% endif %}" href="lesson13.html">Уроки 13&ndash;24</a>  </li>
</ul>
<hr>
{% assign first = page.lesson_num | divided_by: 12 | times: 12 %}
{% for col in (0..1) %}
<ul class="column">
  {% assign start = col | times: 6 | plus: first | plus: 1 %}
  {% assign end = col | times: 6 | plus: first | plus: 6 %}
  {% for num in (start..end) %}
  <li>
    <a class="{% if page.lesson_num == num %}selected{% endif %}" href="lesson{{num}}.html">Урок {{num}}: {{site.data.lessons[num]["ru"]}}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<br style="clear:both">