---
layout: default
selected: example
title: Пример текста
javascripts:
- javascripts/vid_synchronize.js
---
{% assign tokens = site.data.train_to_china %}

<h3>Пример текста</h3>

<p>
  Здесь вы можете посмотреть новость, представленную в телеграм-канале
  <a href="https://t.me/gluxixnet/8277" target="_blank" rel="noreferrer">Новости Глухих.нет</a>,
  и поглядеть на то, как её можно записать на <strong>Шрифте РЖЯ</strong>.
</p>

<div style="display:flex;aspect-ratio:20/16">
<video style="width:45%;margin-right:20px" class="boxshadow" preload="auto" autoplay muted controls id="video">
  <source src="videos/train_to_china.mp4" type="video/mp4">
  Ваш браузер не поддерживает видео HTML5.
</video>
<div class="boxshadow" style="overflow-y:auto;padding:0 10px">
  <p class="large rsl" id="text">
    {% for token in tokens -%}
      {% if token.start -%}
        <span data-start="{{token.start}}" data-end="{{token.end}}">{{token.text}}</span>
      {%- else -%}
        {{token.text}}
      {%- endif %}
    {%- endfor %}
  </p>
</div>
</div>

<br style="clear:both;">
