---
layout: lesson
lesson_num: 7
---

<h4>Символы контакта</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">;</dt>    <dd>Тереть</dd>
    <dt class="rsl">!</dt>    <dd>Ударить</dd>
  </dl>
</div>

<h5>Как печатать: типы контанта</h5>
<p>Представленные символы контакта соответствуют символам <strong class="red">;</strong> и <strong class="red">!</strong></p>
{% include keyboard.html highlight=";!" %}

<h5>Опробуйте <span class="rsl">(.)**6</span></h5>
<blockquote>Используйте <strong class="red">;</strong> и <strong class="red">!</strong>, чтобы указывать тип контакта:
<input class="tryit" value=";">
</blockquote>

<h4>Запись жестов<span class="rsl"> вЁ-ЦжЮЮ 55/</span></h4>
<h5>Лексика</h5>
{% include lexicon.html %}

<h5>Практика <span class="rsl">в.-Ц-.в_Ь</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}