---
layout: lesson
lesson_num: 5
---

<h4>Направление движения</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline2">
    <dt class="rsl">Ь</dt><dd>вверх</dd>
    <dt class="rsl">/</dt><dd>вперёд</dd>
    <dt class="rsl">Б</dt><dd>влево</dd>
    <dt class="rsl">Ю</dt><dd>вправо</dd>
    <dt class="rsl">З</dt><dd>назад</dd>
    <dt class="rsl">_</dt><dd>вниз</dd>
  </dl>
</div>

<h5>Как печатать: направление</h5>
<p>Стрелки, обозначающие направление, соотвествуют символам <strong class="red">Ь _ Б Ю /</strong> и <strong class="red">З</strong></p>
{% include keyboard.html highlight="Ь_БЮ/З" %}

<h5>Опробуйте <span class="rsl">(.)**6</span></h5>
<blockquote>Используйте <strong class="red">Ь _ Б Ю / З</strong>, чтобы указывать направление:
<input class="tryit" value="БЮ">
</blockquote>

<h4>Запись жестов<span class="rsl"> вЦжЮЮ 55/</span></h4>
<h5>Лексика</h5>
{% include lexicon.html %}

{% include learn_handshapes.html %}
<!-- <h5>Как печатать: повторение</h5>
{% include learn_handshapes.html symbols="ЕНУ" %} -->

<h5>Практика <span class="rsl">вЦв_Ь</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}
