---
layout: lesson
lesson_num: 1
---

<h4>Как вводить конфигурации (формы руки)</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">1 2 3 4</dt>          <dd>Цифры: 1 2 3 4</dd>
    <dt class="rsl">5 6 7 8</dt>          <dd>Цифры: 5 6 7 8</dd>
    <dt class="rsl">а б в &hellip;</dt>   <dd>Строчные: а б в &hellip;</dd>
    <dt>(остальные конфигурации)</dt><dd>Заглавные: А Б В &hellip;</dd>
  </dl>
</div>

<h5>Опробуйте <span class="rsl">6</span></h5>
<blockquote>Введите буквы или цифры, чтобы посмотреть, как выглядит каждый из символов:
<input class="tryit" value="а б в">
</blockquote>

<h4>Запись жестов<span class="rsl"> вж 55</span></h4>
<h5>Лексика<span class="rsl"> 1э 55</span></h5>
{% include lexicon.html %}

{% include learn_handshapes.html %}

<h5>Практика <span class="rsl">вв</span></h5>

<blockquote>Введите конфигурации уже известных вам жестов:</blockquote>
{% include quiz.html %}
