---
layout: lesson
lesson_num: 9
---

<h4>Обозначения локализации на теле</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">9ЁЁ0</dt>      <dd>шея (сбоку)</dd>
    <dt class="rsl">9ЁЁЁ0</dt>     <dd>горло</dd>
    <dt class="rsl">9ЁЙ0</dt>      <dd>левая грудь</dd>
    <dt class="rsl">9Й.0</dt>      <dd>талия справа</dd>
    <dt class="rsl">9Ё|Ё0</dt>     <dd>обе стороны груди</dd>
    <dt class="rsl">9.Й.0</dt>     <dd>обе стороны талии</dd>
    <dt class="rsl">9Й.Й0</dt>     <dd>живот</dd>
  </dl>
</div>

<h5>Опробуйте <span class="rsl">(.)**6</span></h5>
<blockquote>Используйте <strong class="red">9 0 . Ё Й</strong>, чтобы указывать места на теле:
  <input class="tryit" value="9Й.Й0">
</blockquote>

<h4>Запись жестов<span class="rsl"> вЁ-ЦжЮЮ 55/</span></h4>
<h5>Лексика</h5>
{% include lexicon.html %}

{% include learn_handshapes.html %}

<h5>Практика <span class="rsl">в.-Ц-.в_Ь</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}