---
layout: lesson
lesson_num: 2
---

<h4>Обозначения локализации на голове</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">(Ё)</dt>      <dd>лоб</dd>
    <dt class="rsl">(Й)</dt>      <dd>нос</dd>
    <dt class="rsl">(.)</dt>      <dd>рот/подбородок</dd>
  </dl>
</div>

<h5>Как печатать: локализация на голове</h5>
<p>Локализация на голове обозначается при помощи символов <strong class="red">( ) . Ё</strong> и <strong class="red">Й</strong></p>
{% include keyboard.html highlight="().ЁЙ" %}

<h5>Опробуйте <span class="rsl">(.)6</span></h5>
<blockquote>Используйте <strong class="red">( ) . Ё Й</strong>, чтобы указывать места на голове:
<input class="tryit" value="(Ё)">
</blockquote>

<h4>Запись жестов<span class="rsl"> вж 55</span></h4>
<h5>Лексика<span class="rsl"> 1э 55</span></h5>
{% include lexicon.html %}

<h5>Как печатать: новые конфигурации</h5>
{% include new_handshapes.html symbols="ЛР" %}

<h5>Практика <span class="rsl">вв</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}
