---
layout: default
selected: lesson1
section: 1-12
toplinks: true
title: "Урок 1: Конфигурации"
---

<h3>Урок 1: Конфигурации</h3>

<h4>Как вводить конфигурации (формы руки)</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">1 2 3 4</dt>          <dd>Цифры: 1 2 3 4</dd>
    <dt class="rsl">5 6 7 8</dt>          <dd>Цифры: 5 6 7 8</dd>
    <dt class="rsl">а б в &hellip;</dt>   <dd>Строчные: а б в &hellip;</dd>
    <dt>(остальные конфигурации)</dt><dd>Заглавные: А Б В &hellip;</dd>
  </dl>
</div>

<h5>Опробуйте</h5>
<blockquote>Введите буквы или цифры, чтобы посмотреть, как выглядит каждый из символов:
<input class="tryit" value="а б в">
</blockquote>

<h4>Больше конфигураций</h4>
<h5>Лексика</h5>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline2b">
    <dt class="rsl">6</dt><dd>{% include sign.html id=91   word="Хороший" %}</dd>
    <dt class="rsl">У</dt><dd>{% include sign.html id=1475 word="Плохой" %}</dd>
    <dt class="rsl">ж</dt><dd>{% include sign.html id=1737 word="Давать" %}</dd>
    <dt class="rsl">А</dt><dd>&laquo;Победить&raquo;</dd>
  </dl>
  <dl class="inline inline2b">
    <dt class="rsl">вч</dt><dd>{% include sign.html id=1691 word="Рисовать" %}</dd>
    <dt class="rsl">6Е</dt><dd>{% include sign.html id=4943 word="Гриб" %}</dd>
    <dt class="rsl">1э</dt><dd>{% include sign.html id=4093 word="Слово" %}</dd>
    <dt class="rsl">оо</dt><dd>{% include sign.html id=9040 word="Сложный" %}</dd>
    <dt class="rsl">65</dt><dd>{% include sign.html id=3789 word="Вертолёт" %}</dd>
    <dt class="rsl">22</dt><dd>{% include sign.html id=970  word="Кухня" %}</dd>
    <dt class="rsl">33</dt><dd>{% include sign.html id=899  word="Огонь" %}</dd>
    <dt class="rsl">58</dt><dd>{% include sign.html id=646  word="Восемь" %}</dd>
    <dt class="rsl">ва</dt><dd>{% include sign.html id=4643 word="Печать" %}</dd>
    <dt class="rsl">вА</dt><dd>{% include sign.html id=22516 word="Запирать" %}</dd>
  </dl>
</div>

<h5>Как писать: больше конфигураций</h5>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline5">
    <dt class="rsl">А</dt><dd>А</dd>
    <dt class="rsl">Е</dt><dd>Е</dd>
    <dt class="rsl">У</dt><dd>У</dd>
  </dl>
</div>

<h5>Практика <span class="rsl">вв</span></h5>

<blockquote>Введите конфигурации уже известных вам жестов:</blockquote>
<div class="boxshadow-p" style="font-family:monospace">
  <dl class="inline inline2b">
    <dt>{% include sign.html id=91   word="Хороший" %}</dt><dd><input class="quiz" placeholder="6" data-answer="6"></dd>
    <dt>{% include sign.html id=1475 word="Плохой" %}</dt><dd><input class="quiz" placeholder="У" data-answer="У"></dd>
    <dt>{% include sign.html id=1737 word="Давать" %}</dt><dd><input class="quiz" placeholder="ж" data-answer="ж"></dd>
    <dt>&laquo;Победить&raquo;</dt><dd><input class="quiz" placeholder="А" data-answer="А"></dd>
    <dt>{% include sign.html id=1691 word="Рисовать" %}</dt><dd><input class="quiz" placeholder="вч" data-answer="вч"></dd>
    <dt>{% include sign.html id=4943 word="Гриб" %}</dt><dd><input class="quiz" placeholder="6Е" data-answer="6Е"></dd>
    <dt>{% include sign.html id=4093 word="Слово" %}</dt><dd><input class="quiz" placeholder="1э" data-answer="1э"></dd>
    <dt>{% include sign.html id=9040 word="Сложный" %}</dt><dd><input class="quiz" placeholder="оо" data-answer="оо"></dd>
    <dt>{% include sign.html id=3789 word="Вертолёт" %}</dt><dd><input class="quiz" placeholder="65" data-answer="65"></dd>
    <dt>{% include sign.html id=970  word="Кухня" %}</dt><dd><input class="quiz" placeholder="22" data-answer="22"></dd>
    <dt>{% include sign.html id=899  word="Огонь" %}</dt><dd><input class="quiz" placeholder="33" data-answer="33"></dd>
    <dt>{% include sign.html id=646  word="Восемь" %}</dt><dd><input class="quiz" placeholder="58" data-answer="58"></dd>
    <dt>{% include sign.html id=4643 word="Печать" %}</dt><dd><input class="quiz" placeholder="ва" data-answer="ва"></dd>
    <dt>{% include sign.html id=22516 word="Запирать" %}</dt><dd><input class="quiz" placeholder="вА" data-answer="вА"></dd>
  </dl>
</div>



<p style="text-align:right;clear:both">
  <a href="lesson2.html"><big>Урок 2: <em>Локализация на голове 1</em> &rarr;</big></a>
</p>
