---
layout: lesson
lesson_num: 3
---

<h4>Обозначения локализации на теле</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">9Ё0</dt>      <dd>плечо</dd>
    <dt class="rsl">9Й0</dt>      <dd>грудь</dd>
    <dt class="rsl">9.0</dt>      <dd>тыльная сторона ладони</dd>
  </dl>
</div>

<h5>Как печатать: локализация на теле</h5>
<p>Локализация на теле обозначается при помощи символов <strong class="red">9 0 . Ё</strong> и <strong class="red">Й</strong></p>
{% include keyboard.html highlight="90.ЁЙ" %}

<h5>Опробуйте <span class="rsl">(.)6</span></h5>
<blockquote>Используйте <strong class="red">9 0 . Ё Й</strong>, чтобы указывать места на теле:
<input class="tryit" value="9Ё0">
</blockquote>

<h4>Запись жестов<span class="rsl"> вж 55</span></h4>
<h5>Лексика</h5>
{% include lexicon.html %}

<h5>Как печатать: повторение конфигураций</h5>
{% include new_handshapes.html symbols="АЕИУ" %}

<h5>Практика <span class="rsl">вв</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}