---
layout: lesson
lesson_num: 8
---

<h4>Обозначения локализации на голове</h4>
<div class="medium boxshadow-p" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl">(ЁЁ)</dt>       <dd>висок</dd>
    <dt class="rsl">(ЙЁ)</dt>       <dd>глаз</dd>
    <dt class="rsl">(ЁЙЁ)</dt>      <dd>глаза</dd>
    <dt class="rsl">(Й.)</dt>       <dd>ноздря</dd>
    <dt class="rsl">(..)</dt>       <dd>уголок рта/челюсть</dd>
  </dl>
</div>

<h5>Опробуйте <span class="rsl">(.)**6</span></h5>
<blockquote>Используйте <strong class="red">( ) . Ё Й</strong>, чтобы указывать места на голове:
  <input class="tryit" value="(ЙЁ)">
</blockquote>

<h4>Запись жестов<span class="rsl"> вЁ-ЦжЮЮ 55/</span></h4>
<h5>Лексика</h5>
{% include lexicon.html %}

{% include learn_handshapes.html %}

<h5>Практика <span class="rsl">в.-Ц-.в_Ь</span></h5>

<blockquote>Введите уже известные вам жесты:</blockquote>
{% include quiz.html %}