---
layout: lesson
lesson_num: 6
---

<p>Ориентация обозначается при помощи комбинации двух символов: символа пальцев и символа большого пальца. Вместе они изображают поворот кисти в пространстве <em>так, как её видит говорящий</em>.</p>
<div class="boxshadow-p medium" style="font-family:monospace">
  <dl class="inline inline1">
    <dt class="rsl big">" = Э -</dt>  <dd>символы пальцев</dd>
    <dt class="rsl big">. Ё</dt>      <dd>символы большого пальца</dd>
  </dl>
</div>

<h4>Запись ориентации</h4>
<p>Чтобы определить ориентацию ладони в жесте, раскройте руку в конфигурацию <strong>в <span class="rsl">в</span></strong> не двигая запястьем.</p>
<h5>Пальцы вверх</h5>
<div class="boxshadow-p medium" style="font-family:monospace">
  <p style="text-align:center">
    <img class="no-styling" src="images/orientations2.png">
  </p>
  <dl class="inline inline1">
    <dt class="rsl big">". ."</dt>  <dd>ладони от себя</dd>
    <dt class="rsl big">Э. .Э</dt>  <dd>ладони друг к другу</dd>
    <dt class="rsl big">." ".</dt>  <dd>ладони к себе</dd>
  </dl>
</div>
<h5>Пальцы друг к другу</h5>
<div class="boxshadow-p medium" style="font-family:monospace">
  <p style="text-align:center">
    <img class="no-styling" src="images/orientations1.png">
  </p>
  <dl class="inline inline1">
    <dt class="rsl big">.- -.</dt>  <dd>ладони вниз</dd>
    <dt class="rsl big">Ё= =Ё</dt>  <dd>ладони к себе</dd>
    <dt class="rsl big">Ё- -Ё</dt>  <dd>ладони вверх</dd>
  </dl>
</div>

<h5>Как печатать: ориентация ладони</h5>
<p>Представленные выше символы шрифта соответствуют символам <strong class="red">- = Э " .</strong> и <strong class="red">Ё</strong></p>
{% include keyboard.html highlight="-=Э\".Ё" %}

<h5>Опробуйте <span class="rsl">(.)**6</span></h5>
<blockquote>Используйте <strong class="red">- = Э " . Ё</strong> чтобы указывать ориентацию ладони:
<input class="tryit" value=".&quot;">
</blockquote>

<h4>Запись жестов<span class="rsl"> вЁ-ЦжЮЮ 55/</span></h4>
<h5>Лексика</h5>
{% include lexicon.html key="Примеры" %}
<p>Зачастую жест понятен и без ориентации</p>
{% include lexicon.html key="Не важна" %}
<p>Иногда всё же ориентация полезна &mdash; она может быть единственным различием между жестами</p>
{% include lexicon.html key="Важна" %}

{% include learn_handshapes.html %}

<h5>Практика <span class="rsl">в.-Ц-.в_Ь</span></h5>

<blockquote>Введите только ориентацию для уже известных вам жестов:</blockquote>
{% include quiz.html %}