---
layout: default
selected: tryit
title: Опробуйте!
javascripts: 
- javascripts/jquery.min.js
- javascripts/jquery.cookie.js
- javascripts/quickref.js
---

<p style="text-align:left">
  <a href="whats-in-this-font.html"><big>&larr; Ранее: <em>Как писать?</em></big></a>
</p>

<h3>Опробуйте!</h3>
<div id="try-it-form">
  <!-- <p class="big boxshadow-p">When you are done, click Save and your message will be given a page of its own.  Then, you can copy the link and email it to whoever you want to read your message.</p> -->
  <nav><strong>Смотрите также:</strong>
    <ul class="inline">
      <li><a href="lesson1.html">Уроки</a></li>
      <li><a href="reference.html">Полная инструкция</a></li>
      <li><a href="https://github.com/ajnoeo/rslfont/archive/install.zip">Скачать шрифт</a></li>
    </ul>
  </nav>

  <p>Если запутаетесь, можете подглядеть в <a href="reference.html" target="_blank">полную инструкцию</a>. Или же освойте систему на практике, пройдите 24 коротких урока:</p>
  <p style="text-align:right">
    <a href="lesson1.html" target="_blank"><big>Урок 1: Конфигурации &rarr;</big></a>
  </p>

  <!-- <h3 id="message_title"><input id="title_input" value="Title"></h3>
  <h4 id="author">A Message in ASL by <input id="author_input" value="You"></h4> -->
  <textarea id="message" class="rsl medium" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">:%) Ё=5Бж 5".."5ЮЮ09</textarea>
  <!-- <p style="text-align:right">
    <em id="#error_message"></em><a href="#" class="button" id="done">Save!</a>
  </p> -->
  <!-- <p>Messages are limited to 2500 characters.  This page is provided as a testing area and messages are NOT guaranteed to be stored forever.  Please don't abuse this form.  <a href="https://github.com/aslfont/aslfont.github.com/issues">Report issues here</a></p> -->
</div>

<h3>Шпаргалка</h3>

<nav id="QuickReferenceNav">
  <ul class="inline">
    <li><a data-tab-for="KeyboardLayout" href="#KeyboardLayout">Раскладка</a></li>
    <li><a data-tab-for="Handshapes" href="#Handshapes">Конфигурация</a></li>
    <li><a data-tab-for="Orientation" href="#Orientation">Ориентация</a></li>
    <li><a data-tab-for="Locations" href="#Locations">Локализация</a></li>
    <li><a data-tab-for="Motion" href="#Motion">Движение</a></li>
    <li><a data-tab-for="OtherModifiers" href="#OtherModifiers">Прочее</a></li>
  </ul>
</nav>


<div data-content-for="KeyboardLayout">
  <h4 id="KeyboardLayout">Раскладка</h4>
  {% include ref/keyboard_layout.html %}
</div>

<div data-content-for="Handshapes">
  <h4 id="Handshapes">Конфигурация</h4>
  {% include ref/handshapes.html %}
</div>

<div data-content-for="Orientation">
  <h4 id="Orientation">Ориентация</h4>
  <label style="display:block;font-style:italic;clear:both">Самые частые варианты поворота рук</label>
  {% include ref/orientation.html %}
</div>

<div data-content-for="Locations">
  <h4 id="Locations">Локализация</h4>
  <div style="text-align:center">
    <a href="images/locations4.png" target="_blank"><img src="images/locations4.png" style="margin:auto"></a>
  </div>
</div>

<div data-content-for="Motion">
  <h4 id="Motion">Движение</h4>

  <h5 id="Directions">Направление</h5>
  <div class="boxshadow-p medium">
    <dl class="inline inline3b">
      <dt class="rsl">Ь</dt>   <dd>Вверх</dd>
      <dt class="rsl">/</dt>   <dd>Вперёд</dd>
      <dt class="rsl">Ю</dt>   <dd>Вправо</dd>
      <dt class="rsl">_</dt>   <dd>Вниз</dd>
      <dt class="rsl">З</dt>   <dd>Назад</dd>
      <dt class="rsl">Б</dt>   <dd>Влево</dd>
      <dt class="rsl">Д</dt>   <dd>Круговое</dd>
    </dl>
  </div>

  <h5 id="Contact">Тип контакта</h5>
  {% include ref/contact.html columns=3 examples=false %}

  <h5 id="NonDominant">Движение неведущей руки</h5>
  {% include ref/non-dominant.html columns=2 %}
</div>

<div data-content-for="OtherModifiers">
  <h4 id="OtherModifiers">Прочие модификации</h4>
  {% include ref/modifiers.html %}

  <h4>Немануальные компоненты</h4>
  <div class="boxshadow-p medium">
    <dl class="inline inline2">
      <dt class="rsl">:%Й</dt>        <dd>Нейтральное выражение</dd>
      <dt class="rsl">:%09</dt>       <dd>Дрожать губами (брр)</dd>
      <dt class="rsl">:%()%ЪХ</dt>    <dd>АП</dd>
      <dt class="rsl">:%Ъ(%ЪЭХ%*</dt> <dd>ВНУ</dd>
      <dt class="rsl">(:%Й</dt>       <dd>&laquo;Сделал?&raquo;</dd>
      <dt class="rsl">0:%Й</dt>       <dd>&laquo;Что сделал?&raquo;</dd>
      <dt class="rsl">0:9%Й</dt>      <dd>Неприязнь</dd>
      <dt class="rsl">(9:0%()</dt>    <dd>Удивление</dd>
      <dt class="rsl">Ъ:Х%ЪХ</dt>     <dd>Подозрение</dd>
      <dt class="rsl">Ъ:%9ЪХ0</dt>    <dd>Непринуждённость</dd>
    </dl>
    <dl class="inline inline2">
      <dt class="rsl">(__)</dt>       <dd>Кивать головой</dd>
      <dt class="rsl">(БЮ)</dt>       <dd>Мотать головой</dd>
      <dt class="rsl">9Б0</dt>        <dd>Повернуться телом влево</dd>
      <dt class="rsl">9Ь0</dt>        <dd>Пожать плечами</dd>
    </dl>
  </div>
</div>
