<h5>Раскладка для русского языка (ЙЦУКЕН)</h5>
<p class="keyboard" style="text-align:center;">
<span style="background-color:#fff;border-top:4px solid #fff;border-bottom:2px solid #fff;">
&nbsp;ё<sup>Ё</sup>1<sup>!</sup>2<sup>"</sup>3<sup>&numero;</sup>4<sup>;</sup>5<sup>%</sup>6<sup>:</sup>7<sup>?</sup>8<sup>*</sup>9<sup>(</sup>0<sup>)</sup>-<sup>_</sup>=<sup>+</sup><br>
&nbsp;й<sup>Й</sup>ц<sup>Ц</sup>у<sup>У</sup>к<sup>К</sup>е<sup>Е</sup>н<sup>Н</sup>г<sup>Г</sup>ш<sup>Ш</sup>щ<sup>Щ</sup>з<sup>З</sup>х<sup>Х</sup>ъ<sup>Ъ</sup>\<sup>/</sup><br>
&nbsp;ф<sup>Ф</sup>ы<sup>Ы</sup>в<sup>В</sup>а<sup>А</sup>п<sup>П</sup>р<sup>Р</sup>о<sup>О</sup>л<sup>Л</sup>д<sup>Д</sup>ж<sup>Ж</sup>э<sup>Э</sup><br>
&nbsp;я<sup>Я</sup>ч<sup>Ч</sup>с<sup>С</sup>м<sup>М</sup>и<sup>И</sup>т<sup>Т</sup>ь<sup>Ь</sup>б<sup>Б</sup>ю<sup>Ю</sup>.<sup>,</sup><br>
</span>
</p>

<h5>Символы этого шрифта</h5>
<p class="rsl keyboard" style="text-align:center;">
<span style="background-color:#fff;border-top:4px solid #fff;border-bottom:2px solid #fff;">
&nbsp;ё<sup>Ё</sup>1<sup>!</sup>2<sup>"</sup>3<sup>&numero;</sup>4<sup>;</sup>5<sup>%</sup>6<sup>:</sup>7<sup>?</sup>8<sup>*</sup>9<sup>(</sup>0<sup>)</sup>-<sup>_</sup>=<sup>+</sup><br>
&nbsp;й<sup>Й</sup>ц<sup>Ц</sup><span class="letter-key">у<sup>У</sup>к<sup>К</sup>е<sup>Е</sup>н<sup>Н</sup></span>г<sup>Г</sup><span class="letter-key">ш<sup>Ш</sup></span>щ<sup>Щ</sup>з<sup>З</sup>х<sup>Х</sup>ъ<sup>Ъ</sup>\<sup>/</sup><br>
&nbsp;<span class="letter-key">ф<sup>Ф</sup>ы<sup>Ы</sup>в<sup>В</sup>а<sup>А</sup>п<sup>П</sup>р<sup>Р</sup>о<sup>О</sup>л<sup>Л</sup></span>д<sup>Д</sup>ж<sup>Ж</sup>э<sup>Э</sup><br>
&nbsp;я<sup>Я</sup><span class="letter-key">ч<sup>Ч</sup>с<sup>С</sup>м<sup>М</sup>и<sup>И</sup></span>т<sup>Т</sup>ь<sup>Ь</sup>б<sup>Б</sup>ю<sup>Ю</sup>.<sup>,</sup><br>
</span>
</span>
</p>