<div class="boxshadow-p medium">
    <dl class="inline inline2">
        <dt class="rsl">?</dt>
        <dd>Согнуть пальцы</dd>
        <dt class="rsl">??</dt>
        <dd>Шевелить/тереть пальцами</dd>
        <dt class="rsl">!</dt>
        <dd>Выразительно</dd>
        <dt class="rsl">;</dt>
        <dd>Пауза</dd>
        <dt class="rsl">(!)</dt>
        <dd>Большая амплитуда</dd>
        <dt class="rsl">(;)</dt>
        <dd>Маленькая амплитуда</dd>
        <dt class="rsl">9!0</dt>
        <dd>Быстрое движение</dd>
        <dt class="rsl">9;0</dt>
        <dd>Медленное движение</dd>
    </dl>
</div>