<div class="boxshadow-p medium">
    <dl class="inline inline{{include.columns}}{% if include.columns == 1 %}b{% endif %}">
        <dt class="rsl">)</dt>
        <dd>
            Вместе с ведущей <br>
            <em>(напр. {% include sign.html id=12127 word="дружба" %}, {% include sign.html id=9226 word="задержка" %})</em>
        </dd>
        <dt class="rsl">Я</dt>
        <dd>Противоположное <br><em>(напр. {% include sign.html id=1426 word="велосипед" %}, {% include sign.html id=1523 word="менять" %})</em></dd>
        <dt class="rsl">09</dt>
        <dd>Симметричное <br><em>(напр. {% include sign.html id=3925 word="семья" %}, {% include sign.html id=1744 word="встретиться" %})</em></dd>
        <dt class="rsl">ЯЯ</dt>
        <dd>Чередующееся <br><em>(напр. {% include sign.html id=5464 word="договор" %}, {% include sign.html id=24939 word="целоваться" %})</em></dd>
    </dl>
</div>