<div class="boxshadow-p medium">
    <dl class="inline inline{{include.columns}}{% if include.columns == 1 %}b{% endif %}">
        <dt class="rsl">)</dt>
        <dd>Вместе с ведущей <br><em>(напр. дружный, задержка)</em></dd>
        <dt class="rsl">Я</dt>
        <dd>Противоположное <br><em>(напр. велосипед, менять)</em></dd>
        <dt class="rsl">09</dt>
        <dd>Симметричное <br><em>(напр. семья, встретиться)</em></dd>
        <dt class="rsl">ЯЯ</dt>
        <dd>Чередующееся <br><em>(напр. договор, целоваться)</em></dd>
    </dl>
</div>